* {
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
}

html,
body {
    width: 100%;
}

#top {
    padding: 20px;
    width: 90%;
    display: flex;
}

#logo-title {
    font-size: 40px;
    color: black;
}

#top ul {
    position: absolute;
    right: 0;
    margin-right: 100px;
}

#top ul li {
    font-family: monospace;
    display: inline-block;
    margin: 10px;
    font-size: 17px;
    text-transform: uppercase;
    transition: .5s;
}

#top ul li:hover {
    border-bottom: 2px solid rgb(117, 117, 117);
}

.active {
    border-bottom: 2px solid rgb(117, 117, 117);
}

#main {
    display: flex;
}

form input {
    display: block;
}

.title-group {
    text-transform: uppercase;
    padding: 20px;
    background-color: black;
    margin-bottom: 30px;
    color: white;
}

.form {
    margin: 100px 0px 0px 0px;
    box-shadow: 1px 4px 4px #DFDFDF;
    text-align: center;
}

#input-group {
    margin-left: 120px;
}

.input_icon {
    position: relative;
}

.input_icon i {
    position: absolute;
    left: 20px;
    top: 8px;
    padding: 9px 8px;
    color: #aaa;
    transition: .2s;
}

.input_icon input:focus+i {
    color: rgb(218, 96, 26);
    font-size: 15px;
}

#in-cart {
    width: 800px;
    margin-left: 50px;
    font-size: 18px;
    overflow: auto;
    height: 450px;
}

#btn-buy,
.input {
    outline: none;
    margin: auto;
    margin-bottom: 5px;
    width: 350px;
    height: 50px;
}

.input {
    border: 1px solid #ECF0F1;
    background-color: #ECF0F1;
    border-radius: 4px;
    transition: border .2s
}

input[type=text] {
    padding-left: 50px;
}

.input:focus {
    box-shadow: 0 0 10px 0 rgb(196, 196, 196);
}

#btn-buy {
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 17px;
    cursor: pointer;
    width: 404px;
    margin: 30px;
    margin-left: 3.5%;
    border: none;
    background-color: #FF8C2D;
    transition: .5s;
}

#btn-buy:hover {
    background: rgb(248, 126, 26);
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

table tr {
    border-bottom: 1px solid #DADADA;
}

tr th {
    padding: 10px 0;
}

tr td {
    padding: 15px 0;
}

i {
    color: grey;
    cursor: pointer;
    outline: none;
    border-radius: 40px;
    border: none;
    transition: .2s;
}

i:hover {
    color: black;
}

#total-price {
    font-size: 17px;
    font-weight: bold;
}

.anh1 {
    height: 80px;
    width: 80px;
}

.anh2 {
    height: 80px;
    width: 80px;
}

#footer {
    margin-top: 150px;
    text-align: center;
    background: rgb(233, 233, 233);
}

#footer #info {
    padding: 20px;
}

#in-cart::-webkit-scrollbar {
    width: 0
}