* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

.home-container {
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    width: 100%;
    height: 30px;
    /* box-shadow: 0px 3px 3px -4px rgba(80, 80, 80, 0.75); */
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    font-family: monospace;
}

.home-link {
    transform: translate(150%, 20%);
}

#home-page {
    color: black;
    cursor: pointer;
    transition: .3s ease-in-out;
}

#home-page:hover {
    border-bottom: 2px solid black;
}

.register-login {
    transform: translate(650%, 20%);
}

.res-log {
    color: black;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-right: 10px;
}

.res-log:hover {
    border-bottom: 2px solid black;
}

.logo {
    text-transform: uppercase;
    text-align: center;
    transform: translate(0%, 80%);
    font-size: 50px;
    font-family: monospace;
    cursor: pointer;
    display: block;
}

#logo {
    transition: .4s ease-in-out;
}

#desc {
    font-size: 17px;
}

#logo:hover {
    color: rgb(77, 77, 77);
}

.container-image {
    text-transform: uppercase;
    position: absolute;
    transform: translate(20%, 25%);
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    cursor: pointer;
}

.sample-image {
    border: 1px solid rgb(223, 223, 223);
    transition: .3s ease-in-out;
}

.img-image {
    width: 350px;
    height: 410px;
}

.sample-image,
.img-image {
    min-width: 30px;
}

.sample-image:hover {
    box-shadow: 1px 1px 5px 2px rgba(206, 206, 206, 0.75);
}

.name-image {
    margin-top: -5px;
    background: rgb(43, 43, 43);
    height: 50px;
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    padding: 10px;
}

.name-image p {
    transform: translate(0, 80%);
    transition: .3s ease-in-out;
}

.name-image:hover {
    background: black;
}

#footer {
    text-align: center;
    padding: 5px;
    margin-top: 50px;
    background: rgb(233, 233, 233);
}

#footer #info {
    padding: 20px;
}

.contract {
    display: flex;
    border-right: 2px solid rgb(255, 255, 255);
    padding-right: 20px;
}

#contract-me {
    align-items: center;
    justify-content: center;
    margin-top: 3px
}

::-webkit-scrollbar {
    width: 10px;
    background: whitesmoke;
}

::-webkit-scrollbar-thumb {
    background: rgb(160, 160, 160);
    border-radius: 4px;
}

.info {
    margin-left: 20px;
}

.fab,
.fas {
    margin: 5px;
}


/*Css for sign in page*/

.form {
    position: relative;
    z-index: 1;
    margin: auto;
    background: rgb(255, 255, 255);
    width: 400px;
    margin-top: 120px;
    margin-bottom: 20px;
    font-size: 17px;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    z-index: 1;
}

form>p {
    font-size: 15px;
    text-align: center;
    padding: 5% 0 0 0;
    cursor: pointer;
    color: rgb(98, 98, 255);
    transition: .2s ease-in-out;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

form>p:hover {
    color: blue;
}

#status {
    padding: 20px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    background: #4C9AFF;
}

form {
    padding: 10% 17% 0 13%;
}

input,
label,
button {
    margin-bottom: 15px;
    width: 100%;
}

form>input {
    border: none;
    height: 40px;
    /* border-radius: 40px; */
    border-bottom: 1px solid rgb(177, 177, 177);
    outline: none;
    /* background: rgb(221, 221, 221); */
    font-family: "Roboto", sans-serif;
    margin-top: 4px;
    transition: .5s;
}

input:focus {
    border-bottom: 1px solid rgb(5, 5, 5);
}

input[type=text],
input[type=password] {
    padding: 0px 10px;
    font-size: 15px;
}

form>button {
    margin-top: 20px;
    border-radius: 40px;
    border: none;
    height: 40px;
    background: #4C9AFF;
    cursor: pointer;
    transition: .5s;
    font-size: 17px;
    width: 107%;
    outline: none;
    position: relative;
    z-index: 1;
}

form>label {
    color: rgb(48, 48, 48);
    font-size: 18px;
    margin-bottom: 10px !important;
}

form>button:hover {
    background: #006EFF;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(160, 209, 255);
    border-radius: 40px;
    z-index: -1;
    transition: .4s;
    transform-origin: 1 1;
    transform: scaleX(0);
}

button:hover::before {
    transform: scaleX(1);
}

.form #sign-up {
    display: none;
}

#back-home {
    margin-top: 60px;
    text-align: center;
}

.btn-toggle {
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 15px;
    text-align: center;
    color: green;
    margin-left: 15px;
}